# Quartus II / Intel FPGA temporary files
db/
incremental_db/
output_files/
greybox_tmp/
hc_output/
/simulation/
/qdb/
/tmp/

# Reports
*.rpt
*.summary
*.jdi
*.done
*.pin
*.qws
*.jdi

# Compiled files (Optional: keep .sof if you want people to test immediately, but usually ignored)
*.sof
*.pof

# Python temp
__pycache__/
*.pyc
.venv/
.env

# VS Code
.vscode/

# Other
*.bak
*.orig
*.swp
